html, body {
    padding: 0;
    margin: 0;
    font-family: 'Nunito';
}

* {
    box-sizing: border-box;
}

.topbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 10px;
}

.searchbar {
    background-color: white;
    border: 1px solid black;
    font-size: 20px;
    border-radius: 14px;
    margin-left: 10px;
}

.temperature {
    margin: 0px;
    font-size: 32px;
}

.weather {
    font-size: 24px;
    margin: 0px;
    margin-bottom: 32px;
}

.menu-icon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.city-info {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.infos {
    width: 100%;
    display: flex;
    gap: 10px;
    padding: 10px;

}

.data {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    gap: 20px;
}

.daily-data {
    flex: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.week-graph {
    flex: 1;
    border: 1px solid black;
    border-radius: 14px;
}

.nav-menu {
    position: absolute;
    right: 10px;
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    border-radius: 14px;
    padding: 10px;
    margin-top: 5px;
    background-color: white;
    z-index: 1000;
}

.nav-menu a {
    color: black;
    text-decoration: none;
}

.title-dashboard {
    text-align: center;
}