
.block {
    width: 200px;
    height: 144px;
    display: flex;
    border: 1px solid black;
    border-radius: 14px;
    flex-direction: column;
    padding: 5px;
    justify-content: space-between;
}

.title {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.title h4 {
    padding: 0;
    margin: 0;
    margin-left: 5px;
    font-size: 16px;
}

.title img {
    width: 24px;
    height: 24px;
}

.additionalInfo {
    font-size: 16px;
    margin: 0;
}

.data-text {
    font-size: 32px;
    margin: 0;
}

.sun-data {
    display: flex;
    flex-direction: row;
}

.sun-data p {
    margin-left: 5px;
}
