.camera-view {
    flex: 1;
    border: 1px solid black;
    border-radius: 14px;
    margin-left: 10px;
}

.city-select {
    background-color: white;
    border: 1px solid black;
    font-size: 16px;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
}

.camera-image {
    width: 100%;
    height: 100%;
}